/** Variables Import **/
@import url('./variables.css');
@import url('./components/AuthorInfo.module.css');
@import url('./components/BlogCard.module.css');
/**
 * CSS Reset
 * Source: https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-base);
  background-color: var(--clr-lightGrayishBlue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  overflow: hidden;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
  width: 100%;
}

/** Global CSS **/
.app-container {
  width: 100%;
  max-width: var(--layout-desktop);
  margin: 0 auto;
}

/** Attribution CSS **/
.attribution { 
  font-size: 13px; 
  text-align: center; 
  position: fixed;
  bottom: 10px;
  width: 100%;
  left: 0;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}